@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}


/*common styling*/

header .wrapper ,
.menu,
.designFreedom ul,
.wixInformation ul,
.feature ul,
.allFeatures ul ,
.howToCreateWebsite ul:nth-child(1),
.footerContainer { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  color: #fff;
  letter-spacing: -2px;
  font-size: 45px;
  font-weight: bold;
}

h3 {
  font-size: 70px;
  font-weight: bold;
  text-transform: capitalize;
}

h3 span { text-transform: lowercase; }

p {
  margin-bottom: 35px;
  color: #505256;
  font-size: 22px;
  line-height : 36px;
  letter-spacing: -1px;
}

.getStarted {
  padding-bottom: 7px;
  border-bottom: 2px solid #c0c0c0;
  color: #1a2f52;
  font-size: 22px;
}

.getStarted:before {
  content: "\f105";
  margin-left: 6px;
  float: right;
  font: 25px fontAwesome;
}

h4 {
  font-size: 44px;
  font-weight: bold;
  text-transform: capitalize;
}

h5 {
  font-size: 23px;
  font-weight: bold;
  text-transform: capitalize;
}

h6 {
  margin-bottom: 30px;
  color: #434f59;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  padding: 24px 0;
  position: absolute;
  z-index: 1;
}

header .wrapper { width: 93%; }

.dropdown { position: relative; }

.dropdown:after {
  content: "\f107";
  padding-left: 11px;
  color: #fff;
  font : 14px fontAwesome;
}

.dropdown ul { 
  padding: 5px 2%;
  display: none;
  position: absolute;
  border : 1px solid #fff;
}

.dropdown ul a { font-size: 14px; }

.dropdown li { margin-bottom: 4px; }

.hamburger {
  width: 20px;
  display: none;
  float : right;
  position: relative;
  z-index: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
} 

.hamburger span {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  background : #000;
  text-indent: -9999px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) { top : 0; }

.hamburger span:nth-child(2) { top : 6px; }

.hamburger span:nth-child(3) { top : 12px; }

.hamburger.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {  opacity: 0; }

.hamburger.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0,0,0,0.5);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor : pointer;
}

.modal-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  -ms-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.modal-content h3 {
  font-size : 30px;
  text-align: center;
  text-transform: capitalize;
}

.modal-content .form-group input {
  padding: 3px 20% 15px 3%;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
} 

.modal-content .form-control { text-align: center; }

.modal-content .form-control input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 25px;
  border: 1px solid transparent;
  border-radius: 10px;
  background : #426eff;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
}

.overflow { overflow : hidden; }

.menu {
  flex-basis: 89%;
  justify-content: space-between;
}

nav { 
  flex-basis: 80%;
  margin-top : 3px; 
}

nav a {   color: #fff; }

nav a:not(:first-child) { padding: 4px; }

nav li:not(:last-child) { padding-right: 3%; }

h1 { flex-basis: 10%; }

nav + ul li:last-child a {
  padding: 10px 24px;
  border : 1px solid transparent;
  border-radius : 24px;
  background: #fff;
  color: #121411;
  text-transform: capitalize;
}

nav + ul li:first-child a {   text-indent: -9999px; }

nav + ul li:first-child a:before {   
  content: "\f0ac";
  margin-right: 40%;
  float: right;
  color: #fff;
  font : 25px fontAwesome;
  text-indent: 0; 
}

.showhide { display: block; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*banner styling start here*/

.banner .wrapper { 
  width: 100%; 
  padding-bottom: 696px;
  position: relative;
  background: url('https://via.placeholder.com/1283x701.png/50585d');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner ul { 
  position: absolute; 
  left: 50%;
  transform: translate(-50%,14%);
}

.banner-text {
  width: 100%;
  position: absolute;
  left : 1%;
  top : 7%;
  text-align: center;
}

.banner-text a {
  padding: 19px 45px;
  border : 1px solid transparent;
  border-radius: 80px;
  margin-top: 46px;
  background: #fff;
  color: #679cd4 ;
  font-size: 19px;
}

/*banner styling end here*/

/*designFreedom styling start*/

.designFreedom .wrapper { 
  width: 90%; 
  padding: 179px 0;
}

.designFreedom ul{ justify-content: space-between; }

.designFreedom li { flex-basis: 45%; }

.designFreedom .getStarted { margin-left: 5%; } 

.designFreedom p {  padding-left: 5%; }

/*designFreedom section styling end*/

/*wixInformation section styling start*/

.wixInformation h3 { color: #030c21; }

.wixInformation .wrapper { width: 99%; }

.wixInformation ul:first-child {  border: 2px solid #000;  }

.wixInformation ul:first-child li {   flex-basis: 50%;  }

.wixInformation ul:first-child li:first-child { 
  box-sizing: border-box;
  padding: 174px 8% 0;
}

.wixInformation p:first-of-type {
  margin-top: 6px;
  color: #000;
  font-size: 44px;
  text-transform : capitalize;
}

.wixInformation p:last-of-type {  font-size: 18px;  }

.wixInformation ul:nth-child(2) li {
  flex-basis: 50%;
  border: 2px solid #000;
  border-top : none;
}

.wixInformation ul:nth-child(2) li:not(:first-child) { border-left : none;  }

.wixInformation ul:nth-child(2) div{
  box-sizing: border-box;
  padding: 65px 16% 0;
}

.wixInformation li:last-child a { margin-bottom: 67px; }

/*wixInformation section styling end*/
/*feature section styleing start*/

.feature {  margin-top : 225px; }

.feature ul { 
  margin-bottom: 130px;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.feature figure { 
  margin-bottom : 28px;
  display: inline-block; 
}

.feature h3 {
  width : 66%;
  margin : 0 auto 131px;
  text-align: center;
}

.feature li { flex-basis : 34%; }

.feature li:nth-child(1) { padding-left: 3%; }

.feature li:nth-child(1) div { padding-left: 7%; }

.feature li:nth-child(2) { margin : 27px 4% 0 0; }

.feature li:nth-child(3) figure { float: right; }

.feature li:nth-child(3) div { 
  float: right; 
  padding-left: 29%;
}

.feature li:nth-child(4) { 
  flex-basis: 50%; 
  margin: 113px 0 73px;
}

.feature li:nth-child(5),
.feature li:nth-child(6) {  flex-basis: 45%; }


.feature li:nth-child(4) figure { 
  margin-bottom: 60px;
  box-shadow: 22px 25px 0px 4px #f7bb50;
}

.feature li:nth-child(5) figure {     box-shadow: 32px -21px 0px 1px #e92f3c; }

.feature li:nth-child(6) { margin-top: 60px; }

.feature li:nth-child(4) img,
.feature li:nth-child(5) img {  box-shadow: 5px 7px rgb(215,215,215,0.5); }


.feature p {
  width: 87%;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -1px;
}

.feature li:nth-child(2) p { width: 77%; }

.feature li:nth-child(3) p { width: 100%; }

.feature li:nth-child(4) p { width: 70%; }

.feature li:nth-child(5) p { width: 61%; }

.feature li:nth-child(6) p { width: 56%; }

/*feature secion styling end*/
/*allfeatures section styling start*/

.allFeatures .wrapper { width : 100%; }

.allFeatures ul { justify-content : space-between; }

.allFeatures li:first-child { 
  flex-basis :52%; 
  padding-left: 8%;
}

.allFeatures li:last-child { 
  flex-basis :29%; 
  position: relative;
}

.allFeatures figure {   display : inline-block; }

.allFeatures h3 {
  width : 33%;
  border-bottom : 3px solid #000;
  margin : 0 auto 213px;
  font-size : 44px;
  text-align : center;
}

.allFeatures h3:after {
  content : "\f101";
  margin-left : 10px;
  font-family : fontAwesome;
}

.allFeatures h4 { 
  width: 73%; 
  margin-bottom: 30px;
}

.allFeatures .getStarted { margin: 1px 0 110px; }

/*allfeature section styling end*/
/*howToCreateWebsite section styling start */

.howToCreateWebsite { 
  padding: 182px 0 175px;
  background: #526dd8; 
  color: #fff;
}

.allFeatures figure:last-child {
  position: absolute;
  top: 6%;
  left: -19%;
}

/*howToCreateWebsite section styling end*/

.howToCreateWebsite ul:nth-child(1) { justify-content: space-between; }

.howToCreateWebsite ul:nth-child(1) li {   flex-basis: 44%; }

.howToCreateWebsite h3 {
  padding-left: 1%;
  margin-bottom: 97px;
  font-size: 109px;
}

.howToCreateWebsite h5 { 
  padding-bottom: 34px;
  margin-bottom :42px;
  position: relative;
  line-height: 31px; 
}

.howToCreateWebsite h5:before { 
  content: '';
  width: 40px;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: 0;
}

.connectedUs a {  color: #fff; }

.connectedUs li {  margin-right: 9%; }

.websiteBuilderSteps li {
  padding-left: 3%;
  margin-bottom : 19px;
  display : list-item;
  list-style-type: decimal;
  font-size: 20px;
  line-height: 31px;
}

.feature ul .slick-dots {
  margin: 0;
  display: block; 
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {  padding: 95px 0 225px; }

footer .wrapper { width: 78%; }

.footerContainer li { flex-basis: 19%; }

.footerContainer li:last-child { flex-basis: 24%; }

.footerContainer li { 
  margin-bottom: 8px;
  display: block; 
}

footer a {
  padding: 2px;
  color: #626c73;
  font-size: 15px;
  text-transform: capitalize;
}

footer p { 
  margin-bottom: 12px;
  color: #626c73;
  font-size: 15px; 
  line-height: 22px;
}

footer span { 
  color: #626c73;
  font-size: 15px; 
}

.socialLinksIcons { margin-top: 22px; }

.socialLinksIcons li { display: inline-block; }

.socialLinksIcons a {
  margin-right: 2%;
  color: #46515c;
  text-indent: -9999px;
}

.socialLinksIcons a:before {
  float: right;
  text-indent: 0;
  font : 20px fontAwesome;

}

.socialLinksIcons .facebook:before {  content: '\f09a'; }

.socialLinksIcons .twitter:before {  content: '\f099'; }

.socialLinksIcons .googlePlus:before {  content: "\f0d5"; }

.socialLinksIcons .youtube:before {  content: '\f16a'; }

.socialLinksIcons .pinterest:before {  content: '\f231'; }

.socialLinksIcons .instagram:before {  content: '\f16d'; }

.socialLinksIcons .linkedin:before {  content: '\f0e1'; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/


/*media query for remove hover effect below 1024px*/
@media only screen and (min-width: 1024px) {

  .modal-content .form-control input:hover {
    border: 1px solid #426eff;
    background: #fff;
    color: #426eff
  }

  nav a:hover,
  nav + ul li:first-child a:hover::before ,
  .getStarted:hover { color: #69bde4; }

  nav + ul li:last-child a:hover {
    border : 1px solid #121411;
    background: #121411;
    color: #fff;
  } 

  .banner-text a:hover {
    border: 1px solid #fff;
    background: #679cd4;
    color: #fff;
  }

  footer a:hover { color: #000; }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  header .wrapper { position: relative; }

  h4 { font-size: 42px; }

  h3 { font-size: 50px; }
  
  .banner .wrapper { 
    padding-bottom: 900px;
    background: #fff; 
  }

  nav { 
    width: 100%;
    display: none; 
    position: absolute;
    top: 40px;
    background: #fff;
  }
 
  nav a { color: #000; }

  nav li {
    padding: 7px 3%;
    display: block;
    text-align: center;
  }

  nav + ul { display : none; }

  .menu { justify-content: flex-end; }

  .hamburger { display: block; }

  .banner ul { 
   width: 100%;  
   transform: translate(-50%,9%);
 }

  .banner li:first-child { width: 100%; }

  .wixInformation p:last-of-type {  
    font-size: 16px;
    line-height: 31px; 
  }

  .wixInformation ul:first-child li:first-child {  padding: 50px 8% 0; }

  .wixInformation p:first-of-type { 
    margin-bottom : 18px;
    font-size: 40px;
    line-height : 45px; 
  }
}  

/*media query for 995px starts here*/
@media only screen and (max-width: 767px) {

  .wixInformation ul:first-child { 
    flex-direction: column-reverse; 
    border : none;
  }

  .wixInformation ul:first-child img { max-width: 636px; }

  .wixInformation ul:first-child li:last-child { margin: 0 auto; }

  .wixInformation ul:nth-child(2) li { 
    border : none; 
    margin-bottom: 50px;
  }

  .wixInformation ul,
  .howToCreateWebsite ul:nth-child(1),
  .designFreedom ul { flex-direction: column; }

  .wixInformation img { max-width: 634px; }

  .wixInformation figure { text-align: center; }

  .wixInformation ul:nth-child(2) div { padding: 59px 9% 0; }

  .feature { margin-top: 0; }

  .feature h3 { width: 95%; }
  
  .feature li:nth-child(n) { 
    margin : 0;
    padding: 0;
  }

  .feature li:nth-child(n) { flex-basis: 100%; }

  .feature li:nth-child(n) p {  
    width: 70%;
    margin: 0 auto; 
  }

  .feature li:nth-child(3) figure { float: none; }
  
  .feature div { text-align: center; }

  .feature li:nth-child(n) div {
    padding: 0;
    float: none;
  }

  .feature li:nth-child(4) figure ,
  .feature li:nth-child(4) img {   box-shadow: none;}

  .feature li:nth-child(5) figure {   box-shadow: 22px 25px 0px 4px #f7bb50;}

  .feature li:nth-child(6) figure {     box-shadow: 32px -21px 0px 1px #e92f3c; }

  .feature li:nth-child(5) img,
  .feature li:nth-child(6) img {  box-shadow: 5px 7px rgb(215,215,215,0.5); }


  .allFeatures h3 {
    width: 65%;
    margin: 0 auto 40px;
    font-size : 38px;
  }

  .allFeatures ul { 
    padding-top: 65PX;
    margin-bottom: 120px;
    border-top: 1PX solid #000;
    flex-direction: column;
 }

 .allFeatures .wrapper { width: 86%; }

 .allFeatures li:first-child { padding-left: 0; }

 .allFeatures li:last-child { margin: 0 auto; }

 .allFeatures figure:last-child { top: 19%; }

 .howToCreateWebsite h3 { font-size: 88px; }

 .howToCreateWebsite h5 { 
    margin: 42px 0; 
   font-weight: normal;
  }

  .footerContainer { flex-wrap: wrap; }

  .footerContainer li { flex-basis: 49%; }

  .designFreedom p { padding-left: 0; }

  .designFreedom .getStarted { margin-left: 0; }

}  